body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.register-container {
    background-color: rgb(166, 8, 8);
    color: rgb(255, 183, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.register-container h2 {
    text-align: center;
}

.register-container input[type="text"],
.register-container input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.register-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color:rgb(255, 183, 0);
    color:rgb(166, 8, 8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-container input[type="submit"]:hover {
    background-color: #0056b3;
}